.git
.github
.idea
.expo
.gradle-home
.gradle-home-release
.android-home
.android-release
.home
node_modules
dist
tmpdoc
amber-city-manager-v3
android/app/build
android/build
desktop-shell/node_modules
desktop-shell/dist-desktop
backend/target
backend/.m2
backend/data
*.log
dbg*_*
tmp*_*
verify*_*
backend_*_*.log
